@charset "utf-8";

@mixin defaultColor {
    // color:#888;    
    color:black;
}

* {
    margin : 0;
    padding : 0;
    text-decoration : none ;
    @include defaultColor;
}

ul,li {
    list-style:none;
}

a {
    @include defaultColor;
}