@charset "utf-8";


#wrap{
    width:100%;
    height:100%;
    overflow: hidden;
    position: relative;
.scrollTop {
    position:fixed;
    bottom:5%;
    right:3%;
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: black;
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    i {
        color:white;
        font-size:25px;
    }
}
.toggleOpen {
    left:0;
}

.globalWrap{
    width:250px;
    height:100vh;
    position:fixed;
    left:-160px;
    top:0;
    z-index:99;
    display:flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.5s;


    .globalNav {
        width:160px;
        height:100vh;
        box-shadow:0px 0px 10px;
        top:0;
        // left:-10%;
        // position:fixed;
        background-color:white;
    

        
        h2 {
            width:100%;
            height:150px;
            position: relative;
            border-bottom:1px solid #Eee;
        }
        a{
            width:100%;
            height:100%;
            display:block;
            position: relative;
            background-image: url(../img/logo.png);
            background-size:35%;
            background-position: center;
            background-repeat: no-repeat;
        }
        .subNav {
            width:100%;
            height:auto;

            div {
                width:100%;
                height:50px;
                border-top:1px solid #Eee;
                display:flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size:12px;
                font-weight:bold;
            }
        .subOn {
            background-color:purple;
            color:orange;
        }
        }
    }
    .globalOpen {
        margin-top:150px;
        width:70px;
        height:70px;
        background-image: url(../img/lnb_icon_open.png);
        cursor: pointer;
        transition: all 0.52s;
    }
    }

    #headerGroup{
        width:100%;
        height:250px;
        border-bottom:1px solid #eee;
        #navGroup {
            width:100%;
            height:52px;
            .navList {
                width:98%;
                height:100%;
                display:flex;
                justify-content: flex-end;
                align-items: center;
                li {
                    float:left;
                    margin-right:20px;
                    color:black;
                    font: {
                        size:10px;
                        weight:bold;
                    }
                    li:before {
                        content : '';
        
                    }
                }
            }
        }
    
        #header {
            width:100%;
            height:193px;
            .innerHead {
                width:1130px;
                height:55%;
                margin:0 auto;
                display:flex;
                align-items: flex-end;
                .inputLogo {
                    width:180px;
                    height:35px;
                    margin-bottom:10px;
                    background: {
                        image:url(../img/inputLogo.png);
                        size:cover;
                        position:center;
                        repeat:no-repeat;
                    }
                }
                form{
                    position: relative;
                    input {
                        width:540px;
                        height:50px;
                        color:#666;
                        border-radius: 10px;
                        font-size:20px;
                        margin-left:30px;
                        content:'\f002';
                    }
                    i {
                        cursor: pointer;
                        font-size:30px;
                        position: absolute;
                        top:50%;
                        right:5%;
                        transform: translateY(-50%);
                    }
                }
            }
            .bottomHead {
                width:1130px;
                height:47%;
                margin:0 auto;
                display:flex;
                align-items: flex-end;
                .headCategory {
                    // width:16%;
                    width:180px;
                    height:50%;
                    background-color: #333;
                    color:White;
                    box-sizing: content-box;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                }
                
                .headEvent {
                    width:910px;
                    // width:80%;
                    height:50%;
                    margin-left:35px;
                    display:flex;
                    > div {
                        width:20%;
                        height:100%;
                        box-sizing: border-box;
                        display:flex;
                        align-items: center;
                        justify-content: space-around;
                        cursor: pointer;
                        .leftImg {
                            width:36px;
                            height:36px;
                            border-radius: 50%;
                            
                        }
                        .rightText {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width:70%;
                            height:100%;
                            font-size:11px;
                        }
                        .weightOn {
                            font-weight:bold;
                        }
                    }
                    > div:nth-of-type(1){
                        .leftImg{
                            background-image:url(//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0720/b63Ht.png)
    
                        }
                    }
                    > div:nth-of-type(2){
                        .leftImg{
                            background-image:url(//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0720/TFPuy.png)
                        }
                    }
                    > div:nth-of-type(3){
                        .leftImg{
                            background-image:url(//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0711/6BEbd.png)
                        }
                    }
                    > div:nth-of-type(4){
                        .leftImg{
                            background-image:url(//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0707/j80K0.png)
                        }
                    }
                    > div:nth-of-type(5){
                        .leftImg{
                            background-image:url(//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2022/0608/KhUNz.png)
                        }
                    }
                    .controlBtn{
        
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        div {
                            width: 32px;
                            height: 32px;
                            background-color: white;
                            margin-right:10px;
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            border: {
                                radius:50%;
                                width:1px;
                                style:solid;
                                color:#eee;
                            }
                        }
                    }
                }
    
            }
        }
    
    }
    
.blank {
        width:1130px;
        height:30px;
        margin:0 auto;
    }
    .detailPage {
        width:100%;
        height:auto;
        margin:0 auto;

        .inner {
            width:1130px;
            height:730px;
            margin:60px auto;

            display:flex;
            justify-content: space-between;
            .leftBookInfo {
                width:482px;
                height:100%;
                display:flex;
                flex-flow:column wrap;
                justify-content: space-evenly;
                align-items: center;
                .bookImg {
                    width:458px;
                    height:443px;
                    border-radius: 5px;
                    filter:drop-shadow(2px 4px 8px rgba(134, 134, 134, 0.25));
                    background: {
                        image:url(../img/cat.jpg);
                        size:cover;
                        position:center;
                    }
                }
                .bookText {
                    height:110px;
                    width:80%;
                    display:flex;
                    flex-flow:column wrap;
                    justify-content: space-evenly;
                    align-items: center;
                    p {
                        text-align: center;
                        width:100%;
                        font-size:14px;
                    }

                    span {
                        display:inline-block;
                        width:100%;
                        height: 32px;
                        overflow: hidden;
                        background: url(../img/star.png);
                        background-size:50%;
                        background-position:left bottom;
                        background-repeat: no-repeat;
                        line-height: 0;
                        vertical-align: center;
                        transform: translateX(25%)
                    }
                }
            }
            .rightPrice {
                width:577px;
                height:100%;
    
                h3 {
                    width:100%;
                    height:28px;
                    margin-bottom:10px;
                }
                >span {
                    display:block;
                    height:20px;
                    margin-bottom:25px;
                    font-size:13px;
                    color:#888;
                }
                >div:nth-of-type(1){
                    width:100%;
                    height:36px;
                    margin-bottom:17px;
                    display:flex;
                    justify-content: space-between;
                    div {
                        font-size:12px;
                        line-height: 28px;
                        padding:0px 12px;
                    }
                    div:nth-of-type(1){
                        width:auto;
                        height:26px;
                        border-radius: 50px;
                        background-color: #EBEDF7;
                    }
                    div:nth-of-type(2){
                        width:auto;
                        height:26px;
                        border-radius: 50px;
                        background-color: #EBEDF7;
                    }
                    div:nth-of-type(3){
                        width:auto;
                        height:26px;
                        border-radius: 50px;
                        background-color: #EBEDF7;
                    }
                    div:nth-of-type(4){
                        width:auto;
                        height:26px;
                        border-radius: 50px;
                        border:1px solid #eee;
                    }
                    div:nth-of-type(5){
                        width:auto;
                        height:26px;
                        border-radius: 50px;
                        border:1px solid #eee;
                    }
                }
                >div:nth-of-type(2){
                    width:100%;
                    height:86px;
                    padding:30px 0px;
                    border-top:1px solid #eee;
                    display:flex;
                    div:nth-of-type(1){
                        width:120px;
                        height:100%;
                    }
                    >.rightText{
                        width:458px;
                        height:100%;
                        div:nth-of-type(1){
                            width:456px;
                            height:38px;
                            padding-left:15px;
                            border:1px solid #eee;
                            display:flex;
                            flex-flow:row wrap;
                            justify-content: flex-start;
                            align-items: center;
                            span{
                                font-size:12px;
                                color:#777;

                            }
                        }

                        p {
                            width:446px;
                            height:34px;
                            padding:10px;
                            font-size:11px;
                        }

                    }
                }
                >div:nth-of-type(3){
                    width:100%;
                    height:27px;
                    padding:30px 0px;
                    border-top:1px solid #eee;
                    display:flex;
                    flex-flow:row wrap;
                    justify-content: flex-start;
                    align-items: center;
                    div:nth-of-type(1){
                        width:120px;
                        height:100%;
                    }
                    >div:nth-of-type(2){
                        width:80px;
                        height:100%;
                        padding-left:30px;
                        padding-right:10px;
                        border:1px solid #eee;
                        border-radius: 5px;
                            span{
                            font-size:12px;
                            color:#777;

                        }
                    }
                }
                >div:nth-of-type(4){
                    width:100%;
                    height:184px;
                    padding:30px 0px;
                    display:flex;
                    flex-flow:row wrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    border-top:1px solid #eee;
                    div:nth-of-type(1){
                        width:120px;
                        height:27px;
                    }
                    div:nth-of-type(2){
                        width:456px;
                        height:134px;
                        display:flex;
                        flex-flow:row wrap;
                        justify-content: center;
                        align-items: center;

                        div:nth-of-type(1){
                            width:50%;
                            height:100%;
                            .numbButton {
                                width:60%;
                                height:30px;

                                a{
                                    display:inline-block;
                                    height:100%;
                                    i {
                                    }
                                }
                                input{
                                    width:20%;
                                    height:100%;
                                    border:1px solid #eee;;
                                }
                                span{
                                    
                                }
                            }
                        }
                        div:nth-of-type(2){
                            width:50%;
                            height:100%;

                            display:flex;
                            flex-flow:column wrap;
                            justify-content: center;
                            align-items: flex-end;
                            > span {
                                display:block;
                                text-decoration: line-through;
                                color:#999;
                                b {
                                    color:#999;
                                }
                            }
                            .total {
                                font-size:35px;
                                margin-bottom:4px;
                                span {
                                    font-size:14px;
                                }
                            }
                            .saving {
                                font-size:12px;
                                font-weight:bold;
                                color : #eb6a62;
  
                                .badgesRed {
                                    display: inline-block;
                                    background-color: #eb6a62;
                                    border-radius: 20px;
                                    line-height:18px;
                                    color:#fff;
                                    padding:0 8px;
                                    margin-right:8px;
                                    font-weight:bold;
                                    font-size:12px;
                                }
                                .discount {
                                    margin-left:8px;
                                    font-weight: normal;
                                }
                            }
                        }
                    }
                    div:nth-of-type(3){
                        width:100%;
                        height:50px;
                        display: flex;
                        
                        div {
                            display:flex;
                            flex-flow:row wrap;
                            justify-content:center;
                            align-items: center;
                            span {
                                font-weight: bold;
                                font-size:16px;
                            }
                        }
                        div:nth-of-type(1){
                            width:50%;
                            height:100%;
                            background-color: white;
                            border:1px solid #eee;
                            box-sizing: border-box;

                        }
                        div:nth-of-type(2){
                            box-sizing: border-box;
                            width:50%;
                            height:100%;
                            background-color:#464B6F ;
                            span {
                                color:white;
                            }
                        }
                    }
                }
                >div:nth-of-type(5){
                    width:525px;
                    height:92px;
                    padding:10px 25px;
                    border:1px solid #eee;

                    table {
                        display:table;

                        border-spacing:2px;
                        tbody {
                            display:table-row-group;
                            vertical-align: middle;
                        }
                        tr{
                            
                            display:table-row;
                        }
                        th , td {
                            text-align:left;
                            font-size:12px;
                            font-weight: normal;
                            color:#777;
                        }
                        td {
                            line-height:20px;
                        }
                    }
                }
            }
        }
        
        .addOn {
            width:1130px;
            height:61px;
            margin: 0 auto;
            display: flex;
            div {
                width:214px;
                height:100%;
                border-left:1px solid #eee;
                border-right:1px solid #eee;
                border-top:1px solid #eee;
                display:flex;
                align-items: center;
                justify-content: center;
                cursor:pointer;
                span{
                    display:block;
                    font: {
                        weight:bold;
                        size:14px;
                    }
                }
            }
            .bgOn{
                background-color:#FCFCFB;
            }
        }
        .shop{
            width:100%;
            height:325px;
            background-color: #FCFCFB;
            .shopInner {
                width:1130px;
                height:100%;
                margin:0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .shopLeftText {
                    width:233px;
                    height:272px;
                    // padding:29px 0 24px 30px;
                    display: flex;
                    flex-flow:column wrap;
                    align-items: center;
                    justify-content: space-between;
                    .leftUp {
                        width:100%;
                        height:75px;
                        display:flex;
                        align-items: center;
                        p{
                            font : {
                                weight:bold;
                                size:18px;
                            }
                        }
                    }
                    .leftDown {
                        width:100%;
                        height:82px;
                        display: flex;
                        flex-flow:row wrap;
                        align-items: center;
                        justify-content: center;
                        label {
                            width:100%;
                            font-size:12px;

                        }
                        div {
                            width: 49%;
                            height:44px;
                            border:1px solid #eee;
                            display: flex;
                            flex-flow:row wrap;
                            align-items: center;
                            justify-content:center;
                            cursor: pointer;

                            span{
                                margin-left:10px;
                                display:block;
                                font: {
                                    size:13px;
                                }
                            }
                        }
                    }
                }
                .shopRightEle {
                    width:76.5%;
                    height:272px;
                    // padding:29px 0 24px;
                    border-left:1px solid #eee;
                    display: flex;
                    flex-flow:row;
                    align-items: center;
                    justify-content: space-around;
                    > div {
                        display: flex;
                        flex-flow:row;
                        align-items: flex-start;
                        justify-content: space-around;
                        width:171px;
                        height:271px;

                        div {
                            width:121px;
                            height:100%;
                            text-align: center;
                            h4{
                                margin-top:10px; 
                                font-size:15px;
                            }
                            p{
                                margin-top:20px; 
                                
                            }
                        }

                    }
                }
            }
        }

        .serise{
            width:100%;
            height:325px;
            margin-bottom:70px;
            margin-top:20px;
            .seriseInner {
                width:1130px;
                height:100%;
                border-top:1px solid #eee;
                border-bottom:1px solid #eee;
                margin:0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .seriseLeftText {
                    width:233px;
                    height:272px;
                    // padding:29px 0 24px 30px;
                    display: flex;
                    flex-flow:column wrap;
                    align-items: center;
                    justify-content: space-between;
                    .leftUp2 {
                        width:100%;
                        height:75px;
                        display:flex;
                        flex-flow: column wrap;
                        align-items: flex-start;
                        p{
                            width: 100%;
                            margin-bottom: 20px;
                            font : {
                                weight:bold;
                                size:18px;
                            }
                        }
                        div {
                            border-radius: 30px;
                            background: #FFFFFF;
                            color: #464B6F;
                            font-size: 10px;
                            line-height: 28px;
                            padding: 0 10px;
                            height: 28px;
                            text-align: center;
                            border: 1px solid #EFEFEF;
                            display: inline-block;

                            
                            span {
                                font-size:8px;
                            }
                        }
                    }
                    .leftDown {
                        width:100%;
                        height:132px;
                        display: flex;
                        flex-flow:row wrap;
                        align-items: center;
                        justify-content: center;
                        align-content: flex-end;
                        label {
                            width:100%;
                            font-size:12px;
                            margin-bottom: 10px;;
                        }
                        div:not(:last-child) {
                            width: 49%;
                            height:44px;
                            border:1px solid #eee;
                            display: flex;
                            flex-flow:row wrap;
                            align-items: center;
                            justify-content:center;
                            cursor: pointer;
                            span{
                                margin-left:10px;
                                display:block;
                                font: {
                                    size:13px;
                                }
                            }
                        }
                        div:last-child{
                            width:100%;
                            border:1px solid #777;
                            background-color: #464B6F;
                            display: flex;
                            flex-flow:row wrap;
                            align-items: center;
                            justify-content:center;
                            cursor: pointer;
                            span {
                                display: block;
                                line-height:48px;
                                color: white;
                                font-size:14px;
                                font-weight: bold;
                            }
                        }
                    }
                }
                .seriseRightEle {
                    width:76.5%;
                    height:272px;
                    // padding:29px 0 24px;
                    border-left:1px solid #eee;
                    display: flex;
                    flex-flow:row;
                    align-items: center;
                    justify-content: space-around;
                    > div {
                        display: flex;
                        flex-flow:row;
                        align-items: flex-start;
                        justify-content: space-around;
                        width:171px;
                        height:271px;

                        div {
                            width:121px;
                            height:100%;
                            text-align: center;
                            h4{
                               margin-top:10px; 

                            }
                            p{
                                margin-top:20px; 
                                
                            }
                        }

                    }
                }
            }
        }
        .promotion {
            width:1130px;
            height:98px;
            margin:0 auto; 
            display:flex;
            justify-content: space-between;
            div {
                width:551px;
                height:100%;
                border:1px solid #eee;
            }
            div:nth-of-type(1) {
                background: {
                    image:url(../img/Sub-1.jpg);
                    size:cover;
                    position:center;
                }
            }

            div:nth-of-type(2) {
                background: {
                    image:url(../img/Sub-2.jpg);
                    size:cover;
                    position:center;
                }
            }

        }
        .bookIntroduce {
            margin-top:100px;
            width:100%;
            
            .upIntroOuter {
                width: 100%;
                height:50px;
                background-color: #FCFCFB;
            }
            .upIntroInner{
                width:1130px;
                height:100%;
                margin:60px auto;
            }
                .upCategory {
                    width: 100%;
                    height:50px;
                    background-color:#FCFCFB;
                    display:flex;
                    flex-flow:row;
                    div {
                        width:250px;
                        height:100%;
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        span{
                            display:block;
                            font-size:14px;
                        }
                    }
                    .cateBgOn {
                        background-color: white;
                        font-weight:bold;
                    }
                }
                .downIntro {
                    width:1130px;
                    height:auto;
                    margin:0 auto;
                    padding-top:60px;
                    border-top:1px solid #eee;
                    display: flex;
                    justify-content: space-between;
                    position: relative;

                    .mainLeftText {
                        width:747px;
                        height:100%;
                        h6 {
                            margin-bottom:30px;
                            font-size:14px;
                            color:#666;
                        }
                        h4 {
                            padding-top:15px;
                            height:32px;
                            margin-bottom:48px;
                            display:block;
                            border-top:1px solid #eee;
                        }
                        > b {
                            display:block;
                            line-height:30px;
                            font-size:14px;
                            margin-bottom:48px;
                        }
                        > p {
                            font-size:14px;
                            line-height:30px;
                            margin-bottom:48px;

                        }
                        .parentDiv {
                            position:relative;
                            .mask {
                                width:100%;
                                height:450px;
                                z-index:99;
                                background-color:rgba(255, 255,255, 0.4);
                                position: absolute;
                            }
                            .maskOn {
                                z-index:-9
                            }
                            iframe {
                                margin-bottom:48px;
                            }
                            .slideBtn {
                                width:60%;
                                height:65px;
                                position:absolute;
                                left:50%;
                                bottom:5%;
                                transform:translateX(-50%) ;
                                border-radius:50px;
                                background-color:#333333 ;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                z-index:999;
                                cursor:pointer;
                                span{
                                    font-weight: bold;
                                    font-size:18px;
                                    color:white;
                                }
                            }
                        }
                        .slideToggle {
                            position:relative;

                            .upSlide {
                                    width:60%;
                                    height:65px;
                                    position:absolute;
                                    left:50%;
                                    bottom:3%;
                                    transform:translateX(-50%) ;
                                    border-radius:50px;
                                    background-color:#333333 ;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    z-index:999;
                                    cursor:pointer;
                                    box-shadow:5px 5px 8px #eee;
                                    span{
                                        font-weight: bold;
                                        font-size:18px;
                                        color:white;
                                }
                            }
                        }
                        .marginValue {
                            margin-bottom:250px;
                        }
                        .lastText {
                            text-aligN:center;
                            margin-bottom:30px;
                            font-size:18px;
                        }
                        .review {
                            text-aligN:center;
                            background-color:#464B6F;
                            width:186px;
                            height:40px;
                            border-radius: 50px;
                            margin:30px auto;
                            display:flex;
                            flex-flow:column wrap;
                            justify-content: center;
                            align-items: center;
                            align-content: center;
                            cursor: pointer;
                            span{
                                display:block;
                                width:186px;
                                height:40px;
                                padding:0px 40px;
                                color:white;
                                line-height:40px;
                                font-weight:bold;
                                font-size:13px;
                            }
                        }
                    }
                    .rightStickyText {
                        width:289px;
                        height:700px;
                        top:70px;
                        right:0;
                        position:sticky;
                        display:flex;
                        flex-flow:column wrap;
                        justify-content: space-between;
                        align-items: center;
                        .rightUpBook {
                            width:243px;
                            height:441px;
                            background-color: white;
                            padding:24px 22px;
                            border:1px solid #eee;
                            display:flex;
                            flex-flow:column wrap;
                            justify-content: space-between;
                            align-items: center;
                            .UpBook {
                                display:flex;
                                flex-flow:column wrap;
                                justify-content: space-between;
                                align-items: center;
                                width:95%;
                                height:60%;

                                > div:nth-of-type(1){
                                    width:100%;
                                    height:107px;
                                    display:flex;
                                    flex-flow:row wrap;
                                    justify-content: space-between;
                                    align-items: center;
                                    > div:nth-of-type(1) {
                                        display:flex;
                                        flex-flow:column wrap;
                                        justify-content: space-between;
                                        align-items: center;
                                        border:1px solid #eee;
                                        width:40%;
                                        height: 85%;
                                        background: {
                                            image:url(  //s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/product/2022/0516/0100023391397-02.jpg);
                                            size:cover;
                                            position:center;
                                        }
                                    }
                                    > div:nth-of-type(2) {
                                        width:55%;
                                        height: 85%;
                                        display:flex;
                                        flex-flow:column wrap;
                                        justify-content: space-between;
                                        align-items: center;
                                        > div:nth-of-type(1) {
                                           p {
                                                width:100%;
                                                height:30px;
                                                
                                                font: {
                                                    size:12px;
                                                    weight:bold;
                                                }
                                           }
                                        }
                                        .numbButton {
                                            width:100%;
                                            height:30px;
            
                                            a{
                                                display:inline-block;
                                                height:100%;
                                                i {
                                                }
                                            }
                                            input{
                                                width:20%;
                                                height:100%;
                                                border:1px solid #eee;;
                                            }
                                            span{
                                                
                                            }
                                        }
                                    }
                                }
                                > div:nth-of-type(2){
                                    width:100%;
                                    height:113px;
                                    display:flex;
                                    flex-flow:column nowrap;
                                    justify-content: space-between;
                                    align-items: center;
                                    div {
                                        width:100%;
                                        height:33px;
                                        border:1px solid #eee;
                                        display:flex;
                                        flex-flow:row nowrap;
                                        justify-content: flex-start;
                                        align-items: center;
                                        span {
                                            display:block;
                                            width:85%;
                                            margin:0 auto;
                                        }
                                        font: {
                                            size:12px;
                                        }
                                    }
                                    p{
                                        color:#666;
                                        font: {
                                            size:12px;
                                        }
                                    }
                                }
                                div:nth-of-type(3){
                                    width:100%;
                                    height:23px;
                                    display:flex;
                                    flex-flow:row wrap;
                                    justify-content: space-between;
                                    align-items: center;
                                    p {
                                        font-weight:bold;
                                    }
                                    h3 {
                                        display:inline-block;
                                    }
                                }
                            }
                            .downPrice {
                                width:95%;
                                height:30%;
                                padding-top:10px;
                                border-top:1px solid #eee;
                                display:flex;
                                flex-flow:column wrap;
                                justify-content: flex-end;
                                align-items: center;
                                div {
                                    width:100%;
                                    height:50px;
                                    border:1px solid #eee;
                                    display:flex;
                                    flex-flow:column wrap;
                                    justify-content: center;
                                    align-items: center;
                                    font-weight:bold;
                                }
                                div:last-child {
                                    box-shadow:1px 1px 7px #eee;
                                    background-color: #464B6F;
                                    span {
                                        color:White;
                                    }
                                }
                            }
                            
                        }
                        .rightDownInfo {
                            width:288px;
                            height:184px;
                            display:flex;
                            flex-flow:column wrap;
                            justify-content: space-between;
                            > div {
                                width: 100%;
                                height:54px;
                                border:1px solid #eee;
                                border-radius: 5px;
                                display:flex;
                                flex-flow:row;
                                justify-content: space-between;
                                align-items: center;
                                .font {
                                    display:flex;
                                    flex-flow:row;
                                    justify-content:center;
                                    align-items: center;
                                    width:25%;
                                    height:100%;
                                    i {
                                        font-size:23px;
                                    }
                                }
                                .text {
                                    display:flex;
                                    flex-flow:row;
                                    justify-content: flex-start;
                                    align-items: center;
                                    width:70%;
                                    height:100%;
                                    
                                    span {
                                        font-size:14px;
                                        font-weight:bold;
                                        color:#666
                                    }
                                }
                            }
                        }
                    }
                }
                .reviewContainer {
                    width:747px;
                    height:auto;
                    .reviewUpTitle {
                        width:100%;
                        height:30px;
                        padding-top:27px;
                        padding-bottom: 31px;
                        border-top:1px solid #eee;
                        border-bottom:1px solid #eee;
                    }
                    .reviewPage {
                        width:100%;
                        height:411px;
                        padding-top:44px;
                        padding-bottom:39px;
                        .reviewUp {
                            width:747px;
                            height:327px;
                            padding-bottom:39px;
                            border-bottom:1px solid #eee;;
                            p:first-child {
                                margin-bottom:15px;
                            }
                            .customBox {
                                margin-bottom:32px;
    
                                span {
                                    color:#777;
                                    font-size:14px;
                                }
                            }
                            img {
                                width:130px;
                                height:130px;
                                display:block;
                                margin-bottom:32px;
                            }
                            p:nth-of-type(2){
                                font-size:12px;
                                height:28px;
                                color:#777;
                            }
                            div:nth-of-type(2) {
                                margin-top:25px;
                                height:28px;
                                border:1px solid #eee;
                                border-radius: 30px;
                                span {
                                    font-size:12px;
                                    line-height:28px;
                                    // padding-left:18px;
                                    padding:0 10px;
                                    margin-right:5px;
                                    margin-left:5px;
                                }
                                float:right;
                            }
                        }
                        .reviewDown {
                            margin-top:44px;
                            width:100%;
                            height:22px;
                        }
                    }
                }
        }
    }
}


#footer{
    width:100%;
    height:150px;
    displaY:flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid #eee;
    .innerFoot {
        margin:0 auto;
        width:1130px;
        height:70px;
        display:flex;
        flex-flow:row wrap;
        align-items: center;
        justify-content: space-between;
        .footLogo {
            width:130px;
            height:26px;

            background: {
                image:url(../img/inputLogo.png);
                size:cover;
                position:center;
                repeat:no-repeat;
            }
        }
        .footTxt {
            width:930px;
            height:100%;

            ul {
                width:100%;
                height:100%;
                display:flex;
                flex-flow:column wrap;
                justify-content: space-between;
                li{
                    width:100%;
                    height:17px;
                }
            }
        }
    }
}
